.footer {
    min-height: 200px;
    background-color: var(--primary-color);
    padding: 2rem;

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {
            margin: 1rem;
        }

        .mag {
            width: 175px;
            height: auto;
        }

        .din {
            width: 100px;
            height: auto;
        }

    }
    
    .redes {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        button {
            color: #fff;
            margin-right: 0.5rem;
        }
    }
}