<div class="footer grid">
    <div class="col-12">
        <div class="items">
            <div>
                <img (click)="open('http://www.mag.gov.py/')" src="assets/img/mag.png" alt="MAG" class="mag mb-2">
            </div>
            <div>
                <img src="assets/img/logo-can.png" alt="Can">
            </div>
            <div>
                <img src="assets/img/logo-dynamus.png" alt="Dinamus">
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="redes">
            <button (click)="open('https://www.facebook.com/mag.paraguay')" pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-raised"></button>
            <button (click)="open('https://twitter.com/magparaguay')" pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-raised"></button>
            <button (click)="open('https://www.youtube.com/channel/UCzcAtyrAgRjwT2PTMlogQ3Q')" pButton pRipple type="button" icon="pi pi-youtube" class="p-button-rounded p-button-raised"></button>
            <button (click)="open('https://mail.mag.gov.py/')" pButton pRipple type="button" icon="pi pi-envelope" class="p-button-rounded p-button-raised"></button>
        </div>
    </div>
    <div class="col-12">
        <p class="text-center m-0 text-0">MINISTERIO DE AGRICULTURA Y GANADERIA - TODOS LOS DERECHOS RESERVADOS 2022</p>
    </div>
</div>
