<div class="grid">
    <div class="col-12 sm:col-10 sm:col-offset-1">
        <p-card>
            <div class="grid">
                <div class="col-12">
                    <h3 class="m-0">Configuraciones</h3>
                </div>
                <div class="col-12">
                    <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
                </div>
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </p-card>
    </div>
</div>
<p-toast key="conf"></p-toast>
<p-confirmPopup key="conf-pop"></p-confirmPopup>