<div class="grid landing">
    <div class="col-12 md:col-6 md:col-offset-6 lg:col-5 lg:col-offset-7">
        <div class="content animate__animated animate__fadeIn">
            <h1 class="title text-center">Censo 2022</h1>
            <p class="text-center">Contestá algunas preguntas y podrás ser parte del Equipo de Censo Nacional 2022 que será llevada a cabo por el Ministerio de Agricultura y Ganadería</p>
            <div class="botones">
                <button routerLink="/login" pButton type="button" label="Ingresar" class="btn p-button-rounded mr-2"></button>
                <button routerLink="/cargos" pButton type="button" label="Registrarse" class="btn p-button-rounded p-button-secondary"></button>
            </div>
            <img src="assets/img/mag.png" alt="MAG" class="mag-mobile animate__animated animate__fadeIn">
            <img src="assets/img/logo-can.png" alt="CAN" class="can-mobile animate__animated animate__fadeIn">
            <img src="assets/img/logo-dynamus.png" alt="DIN" class="din-mobile animate__animated animate__fadeInDown">
        </div>
    </div>
</div>
<div class="logos-container">
    <div class="logos">
        <div>
            <img src="assets/img/mag.png" alt="MAG" class="mag animate__animated animate__fadeInDown">
        </div>
        <div>
            <img src="assets/img/logo-can.png" alt="CAN" class="can animate__animated animate__fadeInDown">
        </div>
    </div>
</div>
<div class="logo-dynamus-container">
    <img src="assets/img/logo-dynamus.png" alt="MAG" class="mag animate__animated animate__fadeInUp">
</div>