@import "../../assets/scss/breakpoints.scss";

.landing {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/landing.jpg");

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;

        .title {
            font-size: 2.5rem;   
            margin: 0;
            color: #fff;
        }
        
        p {
            color: #fff;
            font-size: 1.25rem;
        }

        .botones {
            display: flex;
            flex-direction: row;
            
            .btn {
                width: 125px;
            }
        }

        .mag-mobile {
            display: block;
            width: 170px;
            height: auto;
            margin-top: 2rem;

            @media screen and (min-width: $md){
                display: none;
            }
        }

        .can-mobile {
            display: block;
            width: 100px;
            height: auto;
            margin: 1rem 0;

            @media screen and (min-width: $md){
                display: none;
            }
        }

        .din-mobile {
            display: block;
            margin: 1rem 0;

            @media screen and (min-width: $md){
                display: none;
            }
        }
    }
}

.logos-container {
    display: none;
    
    @media screen and (min-width: $md){
        display: block;
        height: auto;
        position: fixed;
        top: 2rem;
        left: 2rem;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .mag {
            width: 170px;
            height: auto;
            margin: 0 0.5rem;
        }
        .can {
            width: 100px;
            height: auto;
            margin: 0 0.5rem;
        }
    }
}

.logo-dynamus-container {
    display: none;
    
    @media screen and (min-width: $md){
        display: block;
        height: auto;
        position: fixed;
        bottom: 2rem;
        left: 2rem;
    }
}