.buscar {
    display: flex;
    .button {
        margin: 0 1rem;
    }
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
}

.log {
    word-wrap: break-word;

    .index {
        color: var(--primary-color);
        font-weight: bold;
    }
}

.disabled {
    opacity: 0.5;
}