<div class="grid">
    <div class="col-12 sm:col-10 sm:col-offset-1">
        <p-card>
            <div class="grid">
                <div class="col-12">
                    <h3 class="m-0">Usuarios</h3>
                </div>
                <div class="col-12">
                    <div class="buttons">
                        <button [routerLink]="['agregar']" class="mr-2" pButton pRipple type="button" label="Agregar usuario" icon="pi pi-user"></button>
                        <p-fileUpload 
                        styleClass="mr-2" 
                        #importar
                        mode="basic" 
                        name="template" [url]="fileUrlImportar" 
                        [maxFileSize]="20000000" [fileLimit]="1" 
                        [auto]="true" chooseLabel="Importar usuarios"
                        (onError)="onError($event)" (onUpload)="onUpload($event)" (onProgress)="onProgress($event)"
                        invalidFileSizeMessageSummary="Error" invalidFileTypeMessageSummary="Error" invalidFileLimitMessageSummary="Error"
                        invalidFileSizeMessageDetail="Tamaño máximo permitido: 20MB"
                        invalidFileLimitMessageDetail="Cantidad máxima de archivos: 1"
                        invalidFileTypeMessageDetail="Tipo de archivo no permitido"></p-fileUpload>
                        <a [href]="fileUrlTemplate + '?key=' + token" target="_blank" class="p-button-secondary mr-2" pButton pRipple type="button" label="Descargar template" icon="pi pi-file-excel"></a>
                        <button (click)="exportFile()" class="p-button-success" pButton pRipple type="button" label="Exportar" icon="pi pi-download"></button>
                    </div>
                </div>
                <div class="col-12">
                    <p-table #table [totalRecords]="totalList" styleClass="p-datatable-striped p-datatable-gridlines" 
                    [value]="list" [paginator]="true" [rows]="10" 
                    [showCurrentPageReport]="true" responsiveLayout="scroll"
                    currentPageReportTemplate="{first} a {last} de {totalRecords}" 
                    [rowsPerPageOptions]="[10,25,50]"
                    [globalFilterFields]="['persona.documento', 'persona.nombres', 'persona.apellidos', 'email', 'persona.celular', 'estado.nombre']">
                        <ng-template pTemplate="caption">
                            <div class="buscar">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input [(ngModel)]="search" pInputText type="text" (input)="table.filterGlobal(search, 'contains')" placeholder="Buscar..." />
                                </span>
                                <div class="button">
                                    <button pButton label="Limpiar" class="p-button-outlined ml-2" icon="pi pi-filter-slash" (click)="clear(table)"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Acciones</th>
                                <th style="min-width:200px" pSortableColumn="persona.documento">Nro. Doc. <p-sortIcon field="persona.documento"></p-sortIcon></th>
                                <th style="min-width:200px" pSortableColumn="persona.nombres">Nombres <p-sortIcon field="persona.nombres"></p-sortIcon></th>
                                <th style="min-width:200px" pSortableColumn="persona.apellidos">Apellidos <p-sortIcon field="persona.apellidos"></p-sortIcon></th>
                                <th style="min-width:200px" pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                                <th style="min-width:200px" pSortableColumn="persona.celular">Celular <p-sortIcon field="persona.celular"></p-sortIcon></th>
                                <th style="min-width:200px" pSortableColumn="estado.nombre">Estado <p-sortIcon field="estado.nombre"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>
                                    <button [class.disabled]="!element.activo" [disabled]="!element.activo" [routerLink]="[element.id, 'datos']" pTooltip="Ver CV" pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-warning"></button>
                                </td>
                                <td style="min-width:200px">{{element?.persona?.documento}}</td>
                                <td style="min-width:200px">{{element?.persona?.nombres}}</td>
                                <td style="min-width:200px">{{element?.persona?.apellidos}}</td>
                                <td style="min-width:200px">
                                    <div class="flex align-items-center">
                                        <a *ngIf="element.activo; else inactivoEmail;" class="underline mr-2" href="mailto:{{element?.email}}">{{element?.email}}</a>
                                        <i pTooltip="Verificado" class="pi pi-check-circle text-success" *ngIf="element.activo; else inactivo;"></i>
                                        <ng-template #inactivoEmail>
                                            <span class="mr-2">{{element?.email}}</span>
                                        </ng-template>
                                        <ng-template #inactivo>
                                            <i pTooltip="No verificado" class="pi pi-times-circle text-danger"></i>
                                        </ng-template>
                                    </div>
                                </td>
                                <td style="min-width:200px">
                                    <div class="flex align-items-center" *ngIf="element.persona?.celular != null; else nophone;">
                                        <i class="pi pi-whatsapp text-success mr-2"></i>
                                        <a class="underline" href="https://wa.me/{{element.persona?.celular}}">{{element.persona?.celular}}</a>
                                    </div>
                                    <ng-template #nophone>
                                        No registrado
                                    </ng-template>
                                </td>
                                <td style="min-width:200px">
                                    <p-tag [severity]="element.estado?.nombre == 'NUEVO' ? 'success':''" value="{{element.estado?.nombre}}" [rounded]="true"></p-tag>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>
<p-dialog styleClass="modal" header="Importar usuarios" [(visible)]="showImportarResult">
    <div class="grid">
        <div class="col-12" *ngFor="let log of logs; index as i;">
            <p class="log"><span class="index">Fila {{i + 1}}:</span> {{log}}</p>            
        </div>
        <div class="col-12" *ngIf="errorImportarResult">
            <p class="log">Error al importar registros</p>
        </div>
    </div>
</p-dialog>