
@import "../../../assets/scss/breakpoints.scss";

.mi-perfil-mobile {
    @media screen and (min-width: $md){
        display: none;
    }
    .email {
        margin-top: 0;
        font-weight: normal;
        color: var(--primary-color);
        word-wrap: break-word;
        text-align: center;
    }
}

.mi-perfil {
    display: none;
    @media screen and (min-width: $md){
        display: flex;
    }
    .email {
        margin-top: 0;
        font-weight: normal;
        color: var(--primary-color);
        word-wrap: break-word;
        text-align: center;
    }
}