<div class="grid">
    <div class="col-12 sm:col-10 sm:col-offset-1">
        <p-card>
            <div class="grid mi-perfil">
                <div class="col-12">
                    <h3 class="m-0">Mi perfil</h3>
                </div>
                <div class="col-12">
                    <div class="flex flex-column justify-content-center align-items-center">
                        <p-avatar *ngIf="foto == null; else fotoBlock" icon="pi pi-user" shape="circle" size="xlarge"></p-avatar>
                        <ng-template #fotoBlock>
                            <p-avatar [image]="fileUrl + '/' + foto?.file + '?key=' + token" size="xlarge" shape="circle"></p-avatar>
                        </ng-template>
                        <p class="my-1"><a [routerLink]="['/censo', 'datos', 'archivos']" class="underline">Cambiar foto</a></p>
                        <h3>{{nombre}}</h3>
                        <h3 class="email">{{user?.email}}</h3>
                        <p class="m-0">Ultimo inicio de sesión: {{user?.ultimoInicioSesion |  date:'dd/MM/yyyy HH:mm:ss'}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-center">
                        <button (click)="openResetPass()" pButton pRipple type="submit" label="Cambiar contraseña" class="p-button-rounded mr-2" icon="pi pi-lock"></button>
                        <button (click)="cerrarSesion()" pButton pRipple type="button" label="Cerrar sesión" class="p-button-rounded p-button-secondary" icon="pi pi-sign-out"></button>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="flex align-items-center">
                        <div class="primary-color">Su código de postulación es <b>{{codigo}}</b></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex align-items-center">
                        <div class="primary-color mr-2">Para consultas y/o reclamos, enviar un correo a</div>
                        <div><a class="underline primary-color bold" href="mailto:mag.censo@gmail.com">mag.censo@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="grid mi-perfil-mobile">
                <div class="col-12">
                    <h3 class="m-0 text-center">Mi perfil</h3>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-center align-items-center">
                        <p-avatar *ngIf="foto == null; else fotoBlockMobile" icon="pi pi-user" shape="circle" size="xlarge"></p-avatar>
                        <ng-template #fotoBlockMobile>
                            <p-avatar [image]="fileUrl + '/' + foto?.file + '?key=' + token" size="xlarge" shape="circle"></p-avatar>
                        </ng-template>
                    </div>
                </div>
                <div class="col-12">
                    <h3 class="text-center">{{nombre}}</h3>
                </div>
                <div class="col-12">
                    <h3 class="email">{{user?.email}}</h3>
                </div>
                <div class="col-12">
                    <p class="m-0">Ultimo inicio de sesión: {{user?.ultimoInicioSesion |  date:'dd/MM/yyyy HH:mm:ss'}}</p>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-center">
                        <button (click)="openResetPass()" pButton pRipple type="submit" label="Cambiar clave" class="p-button-rounded w-full mb-1"></button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-center">
                        <button (click)="cerrarSesion()" pButton pRipple type="button" label="Cerrar sesión" class="p-button-rounded p-button-secondary w-full"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-dialog [(visible)]="showResetPass" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Cambiar contraseña
    </ng-template>
    <form [formGroup]="form" class="grid" (submit)="reset()">
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="pass" class="block">Contraseña</label>
                <input formControlName="clave" id="pass" type="password" pInputText 
                class="p-inputtext-sm {{formValidator(form, 'clave') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(form, 'clave')">
                    <p class="error" *ngIf="fieldValidator(form, 'clave', 'required')">
                        Contraseña requerida
                    </p>        
                    <p class="error" *ngIf="fieldValidator(form, 'clave', 'minlength')">
                        La contraseña debe tener una longitud mínima de 8 caracteres
                    </p>        
                    <p class="error" *ngIf="fieldValidator(form, 'clave', 'passwordStrength')">
                        La contraseña debe contener mayúsculas, minúsculas y números
                    </p>        
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="repetir-pass" class="block">Repetir contraseña</label>
                <input formControlName="repetirClave" id="repetir-pass" type="password" 
                pInputText class="p-inputtext-sm {{formValidator(form, 'repetirClave') || (!clavesIguales() && form.valid) ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(form, 'repetirClave')">
                    <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'required')">
                        Repetir contraseña requerida
                    </p>
                    <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'minlength')">
                        La contraseña debe tener una longitud mínima de 8 caracteres
                    </p>        
                    <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'passwordStrength')">
                        La contraseña debe contener mayúsculas, minúsculas y números
                    </p>      
                </div>
                <div *ngIf="!clavesIguales() && form.valid">
                    <p class="error">
                        Las contraseñas no coinciden
                    </p>   
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="flex justify-content-center">
                <img class="captcha" #captcha alt="Captcha">
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1 lg:col-6 lg:col-offset-3">
            <div class="field">
                <input placeholder="Captcha..." formControlName="captcha" type="text" pInputText 
                class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(form, 'captcha')">
                    <p class="error" *ngIf="fieldValidator(form, 'captcha', 'required')">
                        Captcha requerida
                    </p>        
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="form.invalid || loadingReset" (click)="reset()" pButton pRipple type="button" icon="pi pi-lock" label="Cambiar contraseña" class="p-button-text"></button>
    </ng-template>
</p-dialog>
<p-toast key="perfil"></p-toast>