<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="row">
                <div class="col-12">
                    <div class="grid align-items-center">
                        <div class="col-12 sm:col-6 md:col-4">
                            <div class="field">
                                <label for="sexo" class="block">Tipo de archivo (<span>*</span>)</label>
                                <p-dropdown 
                                    (onChange)="onChangeTipo($event)"
                                    [options]="tipos" 
                                    [(ngModel)]="tipo" 
                                    [virtualScroll]="true"
                                    placeholder="Seleccionar...">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 sm:col-6 md:col-8">
                            <div class="field">
                                <label for="sexo" class="block">Archivo (<span>*</span>)</label>
                                <p-fileUpload #fubauto mode="basic" name="files" [url]="fileUrl" [maxFileSize]="2000000" [fileLimit]="3" [auto]="true" chooseLabel="Elegir archivo"
                                (onError)="onError($event)" (onUpload)="onUpload($event)" 
                                invalidFileSizeMessageSummary="Error" invalidFileTypeMessageSummary="Error" invalidFileLimitMessageSummary="Error"
                                invalidFileSizeMessageDetail="Tamaño máximo permitido: 1MB"
                                invalidFileTypeMessageDetail="Tipo de archivo no permitido"
                                [disabled]="tipo == null" [headers]="headers"></p-fileUpload>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>Cantidad de archivos ({{uploadedFiles.length}})</p>
                </div>
                <div class="col-12" *ngFor="let f of uploadedFiles">
                    <div class="item shadow-2">
                        <div class="detalles">
                            <a class="mb-1 enlace" [href]="fileUrl + '/' + f.file + '?key=' + token" target="_blank"  pTooltip="Descargar archivo" tooltipPosition="top">{{f.file}}</a>
                            <p-tag styleClass="tag-archivo" [rounded]="true" value="{{f.tipo}}" icon="pi pi-file" severity="success"></p-tag>
                            <p class="tipo-mobile">{{f.tipo}}</p>
                        </div>
                        <button class="eliminar" (click)="confirm($event, f)"  pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-center">
                        <button [routerLink]="['/censo', 'datos']" pButton pRipple type="button" label="Datos personales" class="p-button-rounded p-button-secondary" icon="pi pi-arrow-left"></button>
                    </div>
                </div>
                <div class="col-12 md:col-4 mt-4">
                    <label for="codigo">Código postulación</label>
                    <div class="p-inputgroup mt-1">
                        <input [style]="{'opacity':'0.75'}" id="codigo" type="text" pInputText [value]="codigo" readonly>   
                        <button (click)="copiar()" type="button" pButton pRipple icon="pi pi-copy" styleClass="p-button-warn"></button>      
                    </div>
                </div>
                <div class="col-12">
                    <p class="primary-color m-0">Para consultas y/o reclamos, enviar un correo a <span (click)="mailTo()" [style]="{'cursor':'pointer'}" class="underline">mag.censo@gmail.com</span></p>
                </div>
            </div>
        </p-card>
    </div>
</div>
<p-confirmPopup key="file"></p-confirmPopup>