@import "../../../../assets/scss/breakpoints.scss";

.item {
    background-color: #fff;
    min-height: 70px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    .detalles {
        display: flex;
        flex-direction: column;
        
        .enlace {
            font-size: 0.75rem;
            @media screen and (min-width: $sm){
                font-size: 1rem;
            }
        }
        .tipo-mobile {
            font-size: 0.75rem;
            display: block;
            word-wrap: break-word !important;
            @media screen and (min-width: $sm){
                display: none;
            }
        }
    }
}