@import "../../assets/scss/breakpoints.scss";

.landing {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/landing.jpg");
    
    .nav {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        justify-content: center;
        @media screen and (min-width: $md){
            justify-content: space-between;
        }

        .brand {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .title-container {
            display: none;
            
            .title {
                font-size: 1.5rem;
                color: #fff;
            }

            @media screen and (min-width: $md){
                display: flex;
                align-items: center;
            }
        }

    }
    
    .content {
        height: calc(100vh - 80px);
        overflow-y: auto;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .title-container-mobile {
            display: block;
    
            @media screen and (min-width: $md){
                display: none;
            }
        }
    }
}

.mag {
    width: 150px;
    height: auto;
    margin: 0 0.5rem;
}
.can {
    margin: 0 0.5rem;
}

.din {
    display: none;
    @media screen and (min-width: $md){
        margin: 0 0.5rem;
        display: block;
    }
}

.din-mobile, .din-mobile-container {
    @media screen and (min-width: $md){
        display: none;
    }
}

.din-mobile {
    margin: 1rem 0;
}