<div class="landing">
    <div class="nav">
        <div class="brand" [routerLink]="['']">
            <div>
                <img src="assets/img/mag.png" alt="MAG" class="mag animate__animated animate__fadeInDown">
            </div>
            <div>
                <img src="assets/img/logo-can.png" alt="CAN" class="can animate__animated animate__fadeInDown">
            </div>
            <div>
                <img src="assets/img/logo-dynamus.png" alt="Dynamus" class="din animate__animated animate__fadeInDown">
            </div>
        </div>
        <div class="title-container">
            <button [routerLink]="['/login']" pButton pRipple type="button" icon="pi pi-sign-in" label="Iniciar sesión" class="p-button-rounded mr-2"></button>
            <button [routerLink]="['/']" pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded p-button-secondary"></button>
        </div>
    </div>
    <div class="grid content">
        <div class="col-12 title-container-mobile">
            <div class="flex justify-content-center">
                <button [routerLink]="['/login']" pButton pRipple type="button" label="Iniciar sesión" class="p-button-rounded p-button-sm mr-2"></button>
                <button [routerLink]="['/login']" pButton pRipple type="button" label="Pág. Principal" class="p-button-rounded p-button-sm p-button-secondary mr-2"></button>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 xl:col-3" *ngFor="let cargo of cargos">
            <p-card styleClass="cargo-card shadow-5 animate__animated animate__fadeIn">
                <div class="header">
                    <div>
                        <p class="font-bold cargo">{{cargo.nombre}}</p>
                    </div>
                    <div>
                        <p-tag [rounded]="true" value="{{cargo.duracion}}" icon="pi pi-clock" severity="success"></p-tag>
                    </div>
                </div>
                <div class="body" [innerHTML]="cargo.descripcion"></div>
                <div class="footer">
                    <p-button [routerLink]="['/register']" [queryParams]="{'cargo': cargo.nombre}" icon="pi pi-pencil" styleClass="p-button-sm" label="Postularme"></p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 din-mobile-container">
            <div class="flex justify-content-center">
                <img src="assets/img/logo-dynamus.png" alt="Dynamus" class="din-mobile animate__animated animate__fadeInDown">
            </div>
        </div>
    </div>
</div>