@import "../../assets/scss/breakpoints.scss";

.login-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/landing.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    padding: 2rem;

    .title {
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    
    .login {
        margin: 1.5rem 0;
    }

    .sin-cuenta {
        margin: 0 0.5rem 0 0;
    }
    
    .registrarse {
        color: var(--primary-color);
    
        &:hover {
            text-decoration: underline;
        }
    }
}