<div class="login-container">
    <p-card styleClass="card animate__animated animate__fadeInDown">
        <form [formGroup]="form" class="grid" (submit)="login()">
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="flex justify-content-center">
                    <img src="assets/img/mag-black.png" alt="MAG" class="mag-card">
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <p class="font-bold text-center titulos">Iniciar sesión</p>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <span class="p-input-icon-left">
                    <i class="pi pi-at"></i>
                    <input formControlName="email"  type="email" pInputText placeholder="Correo Electrónico"
                    class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
                </span>
                <div *ngIf="formValidator(form, 'email')">
                    <p class="error" *ngIf="fieldValidator(form, 'email', 'required')">
                        Email requerido
                    </p>               
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <span class="p-input-icon-left">
                    <i class="pi pi-lock"></i>
                    <input formControlName="clave" type="password" pInputText placeholder="Contraseña"
                    class="p-inputtext-sm {{formValidator(form, 'clave') ? 'ng-invalid ng-dirty':''}}"/>
                </span>
                <div *ngIf="formValidator(form, 'clave')">
                    <p class="error" *ngIf="fieldValidator(form, 'clave', 'required')">
                        Contraseña requerida
                    </p>               
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <p-checkbox [(ngModel)]="rememberMe" [binary]="true" label="Recuérdame" [ngModelOptions]="{standalone: true}"></p-checkbox>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <button pButton pRipple type="submit" label="Iniciar Sesión" class="p-button-rounded w-full login" [loading]="loading"></button>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="flex align-items-center justify-content-center">
                    <a (click)="openResetPass()" class="registrarse">Olvidé mi contraseña</a>
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="flex align-items-center justify-content-center">
                    <p class="sin-cuenta">¿No tienes una cuenta?</p>
                    <a routerLink="/register" class="registrarse underline">Registrarse</a>
                </div>
            </div>
        </form>
    </p-card>
</div>

<p-dialog [(visible)]="showResetPass" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Reestablecer contraseña
    </ng-template>
    <div class="grid" [formGroup]="formResetPass">
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="email" class="block">Email</label>
                <input formControlName="email" id="email" type="text" pInputText 
                class="p-inputtext-sm {{formValidator(formResetPass, 'email') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(formResetPass, 'email')">
                    <p class="error" *ngIf="fieldValidator(formResetPass, 'email', 'required')">
                        Email requerido
                    </p>        
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="flex justify-content-center">
                <img class="captcha" #captcha alt="Captcha">
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1 lg:col-6 lg:col-offset-3">
            <div class="field">
                <input placeholder="Captcha..." formControlName="captcha" type="text" pInputText 
                class="p-inputtext-sm {{formValidator(formResetPass, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(formResetPass, 'captcha')">
                    <p class="error" *ngIf="fieldValidator(formResetPass, 'captcha', 'required')">
                        Captcha requerida
                    </p>        
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button [disabled]="formResetPass.invalid || loadingReset" (click)="reset()" pButton pRipple type="button" icon="pi pi-lock" label="Reestablecer" class="p-button-text"></button>
    </ng-template>
</p-dialog>
<p-toast key="login"></p-toast>