<div class="login-container">
    <p-card styleClass="card">
        <form [formGroup]="form" class="grid" (submit)="cambiar()">
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="flex justify-content-center">
                    <img src="assets/img/mag-black.png" alt="MAG" class="mag-card">
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <p class="font-bold text-center titulos">Cambiar clave</p>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="field">
                    <label for="pass" class="block">Contraseña</label>
                    <input formControlName="clave" id="pass" type="password" pInputText 
                    class="p-inputtext-sm {{formValidator(form, 'clave') ? 'ng-invalid ng-dirty':''}}"/>
                    <div *ngIf="formValidator(form, 'clave')">
                        <p class="error" *ngIf="fieldValidator(form, 'clave', 'required')">
                            Contraseña requerida
                        </p>        
                        <p class="error" *ngIf="fieldValidator(form, 'clave', 'minlength')">
                            La contraseña debe tener una longitud mínima de 8 caracteres
                        </p>        
                        <p class="error" *ngIf="fieldValidator(form, 'clave', 'passwordStrength')">
                            La contraseña debe contener mayúsculas, minúsculas y números
                        </p>        
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="field">
                    <label for="repetir-pass" class="block">Repetir contraseña</label>
                    <input formControlName="repetirClave" id="repetir-pass" type="password" 
                    pInputText class="p-inputtext-sm {{formValidator(form, 'repetirClave') || (!clavesIguales() && form.valid) ? 'ng-invalid ng-dirty':''}}"/>
                    <div *ngIf="formValidator(form, 'repetirClave')">
                        <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'required')">
                            Repetir contraseña requerida
                        </p>
                        <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'minlength')">
                            La contraseña debe tener una longitud mínima de 8 caracteres
                        </p>        
                        <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'passwordStrength')">
                            La contraseña debe contener mayúsculas, minúsculas y números
                        </p>      
                    </div>
                    <div *ngIf="!clavesIguales() && form.valid">
                        <p class="error">
                            Las contraseñas no coinciden
                        </p>   
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="flex justify-content-center">
                    <img class="captcha" #captcha alt="Captcha">
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1 lg:col-6 lg:col-offset-3">
                <div class="field">
                    <input placeholder="Captcha..." formControlName="captcha" type="text" pInputText 
                    class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
                    <div *ngIf="formValidator(form, 'captcha')">
                        <p class="error" *ngIf="fieldValidator(form, 'captcha', 'required')">
                            Captcha requerida
                        </p>        
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <button [disabled]="form.invalid || !clavesIguales() || loading" pButton pRipple type="submit" label="Cambiar contraseña" class="p-button-rounded w-full login" [loading]="loading"></button>
            </div>
            <div class="col-12 sm:col-10 sm:col-offset-1">
                <div class="flex align-items-center justify-content-center">
                    <a routerLink="/login" class="registrarse">Iniciar sesión</a>
                </div>
            </div>
        </form>
    </p-card>
</div>
<p-toast key="cambiar"></p-toast>