@import "../../../assets/scss/breakpoints.scss";
.mag {
    width: 150px;
    height: auto;
}

.title {
    font-weight: bold;
    text-align: center;
}

.enviar {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $md){
        justify-content: flex-end;
    }
}

.logos-mobile {
    display: flex;

    @media screen and (min-width: $md){
        display: none;
    }
}

.logos {
    display: none;

    @media screen and (min-width: $md){
        display: flex;
        justify-content: center;
    }
}