<div class="grid">
    <div class="col-12 sm:col-10 sm:col-offset-1 md:col-8 md:col-offset-2">
        <p-card styleClass="shadow-3">
            <form class="grid" [formGroup]="form" class="grid" (submit)="evaluar()">
                <div class="col-12 logos">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-center align-items-center">
                                <div>
                                    <img src="assets/img/mag-black.png" alt="MAG" class="mag mr-2">
                                </div>
                                <div>
                                    <img src="assets/img/logo-can-black.png" alt="MAG">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 logos-mobile">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-center">
                                <img src="assets/img/mag-black.png" alt="MAG" class="mag mb-2">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="flex justify-content-center">
                                <img src="assets/img/logo-can-black.png" alt="MAG">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="title">Formulario de selección de MAG Censo 2022</p>
                </div>
                <div class="col-12">
                    <p>1. ¿Tiene 18 años de edad cumplidos?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p1-si" name="p1" [value]="1" formControlName="p1"></p-radioButton>
                    <label for="p1-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p1-no" name="p1" [value]="0" formControlName="p1"></p-radioButton>
                    <label for="p1-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p1')">
                    <p class="error" *ngIf="fieldValidator(form, 'p1', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>2. ¿Actualmente es Contratado/Funcionario de alguna entidad pública o consejal municipal?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p2-si" name="p2" [value]="1" formControlName="p2"></p-radioButton>
                    <label for="p2-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p2-no" name="p2" [value]="0" formControlName="p2"></p-radioButton>
                    <label for="p2-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p2')">
                    <p class="error" *ngIf="fieldValidator(form, 'p2', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>3. ¿Posee Título Universitario, de tecnicaturas, o de las carreras afines al perfil requerido en este llamado validado por el MEC?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p3-si" name="p3" [value]="1" formControlName="p3"></p-radioButton>
                    <label for="p3-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p3-no" name="p3" [value]="0" formControlName="p3"></p-radioButton>
                    <label for="p3-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p3')">
                    <p class="error" *ngIf="fieldValidator(form, 'p3', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>4. ¿Posee certificado de  bachiller terminado?, o constancia de su Institución Educativa en donde está cursando, o de de cursar alguna tecnicatura agropecuaria?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p4-si" name="p4" [value]="1" formControlName="p4"></p-radioButton>
                    <label for="p4-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p4-no" name="p4" [value]="0" formControlName="p4"></p-radioButton>
                    <label for="p4-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p4')">
                    <p class="error" *ngIf="fieldValidator(form, 'p4', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>5. ¿Cuántos años de experiencia comprobable posee en las siguientes áreas: Ingenieria Agronómica, Ciencias Veterinarias, Zootecnia, Economía, Administración Agraria, Estadística, Técnicos de Mando Medio, Docente u otras profesiones relacionadas?</p>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="field">
                        <p-dropdown [showClear]="true" [options]="experiencias" formControlName="p5" optionLabel="label" optionValue="label" placeholder="Seleccione una opción"
                        class="p-inputtext-sm {{formValidator(form, 'p5') ? 'ng-invalid ng-dirty':''}}">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p5')">
                    <p class="error" *ngIf="fieldValidator(form, 'p5', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>6. ¿Está cursando el 2do o 3er año de la media o de alguna tecnicatura agropecuaria?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p6-si" name="p6" [value]="1" formControlName="p6"></p-radioButton>
                    <label for="p6-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p6-no" name="p6" [value]="0" formControlName="p6"></p-radioButton>
                    <label for="p6-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p6')">
                    <p class="error" *ngIf="fieldValidator(form, 'p6', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>7. ¿Cuenta con experiencia realizando algún trabajo en el rubro Agropecuario?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p7-si" name="p7" [value]="1" formControlName="p7"></p-radioButton>
                    <label for="p7-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p7-no" name="p7" [value]="0" formControlName="p7"></p-radioButton>
                    <label for="p7-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p7')">
                    <p class="error" *ngIf="fieldValidator(form, 'p7', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>8. ¿Posee experiencia en trabajos de Censo o Encuestas?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p8-si" name="p8" [value]="1" formControlName="p8"></p-radioButton>
                    <label for="p8-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p8-no" name="p8" [value]="0" formControlName="p8"></p-radioButton>
                    <label for="p8-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p8')">
                    <p class="error" *ngIf="fieldValidator(form, 'p8', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>9. ¿Posee experiencia en proyecto o programa rural?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p9-si" name="p9" [value]="1" formControlName="p9"></p-radioButton>
                    <label for="p9-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p9-no" name="p9" [value]="0" formControlName="p9"></p-radioButton>
                    <label for="p9-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p9')">
                    <p class="error" *ngIf="fieldValidator(form, 'p9', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>10. ¿Ha liderado equipos de trabajo?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p10-si" name="p10" [value]="1" formControlName="p10"></p-radioButton>
                    <label for="p10-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p10-no" name="p10" [value]="0" formControlName="p10"></p-radioButton>
                    <label for="p10-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p10')">
                    <p class="error" *ngIf="fieldValidator(form, 'p10', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>11. ¿Dispone de tiempo completo? </p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p11-si" name="p11" [value]="1" formControlName="p11"></p-radioButton>
                    <label for="p11-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p11-no" name="p11" [value]="0" formControlName="p11"></p-radioButton>
                    <label for="p11-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p11')">
                    <p class="error" *ngIf="fieldValidator(form, 'p11', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>12. Seleccione la ciudad en donde fija residencia permanente</p>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="field">
                        <p-dropdown 
                        [filter]="true" 
                        filterBy="nombre,departamento" 
                        [showClear]="true" 
                        [options]="ciudades" 
                        formControlName="p12" 
                        optionLabel="nombre"  
                        placeholder="Seleccione una opción"
                        [virtualScroll]="true"
                        class="p-inputtext-sm {{formValidator(form, 'p12') ? 'ng-invalid ng-dirty':''}}">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p12')">
                    <p class="error" *ngIf="fieldValidator(form, 'p12', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>13. ¿Posee excelente manejo de paquete office (excel, word)? Y manejo de dispositivos inteligentes tales como: Tablets o Teléfonos.</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p13-si" name="p13" [value]="1" formControlName="p13"></p-radioButton>
                    <label for="p13-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p13-no" name="p13" [value]="0" formControlName="p13"></p-radioButton>
                    <label for="p13-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p13')">
                    <p class="error" *ngIf="fieldValidator(form, 'p13', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>14. ¿Habla Guaraní?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p14-si" name="p14" [value]="1" formControlName="p14"></p-radioButton>
                    <label for="p14-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p14-no" name="p14" [value]="0" formControlName="p14"></p-radioButton>
                    <label for="p14-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p14')">
                    <p class="error" *ngIf="fieldValidator(form, 'p14', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>15. ¿Posee movilidad propia?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p15-si" name="p15" [value]="1" formControlName="p15"></p-radioButton>
                    <label for="p15-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p15-no" name="p15" [value]="0" formControlName="p15"></p-radioButton>
                    <label for="p15-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p15')">
                    <p class="error" *ngIf="fieldValidator(form, 'p15', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>16. ¿A través de que medio te enteraste de la búsqueda?</p>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="field">
                        <p-dropdown [showClear]="true" [options]="medios" formControlName="p16" optionLabel="label" optionValue="label" placeholder="Seleccione una opción"
                        class="p-inputtext-sm {{formValidator(form, 'p16') ? 'ng-invalid ng-dirty':''}}">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p16')">
                    <p class="error" *ngIf="fieldValidator(form, 'p16', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
                <div class="col-12">
                    <p>17. ¿Pertenece a alguna comunidad indígena?</p>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton styleClass inputId="p17-si" name="p17" [value]="1" formControlName="p17"></p-radioButton>
                    <label for="p17-si">Si</label>
                </div>
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 field-radiobutton">
                    <p-radioButton inputId="p17-no" name="p17" [value]="0" formControlName="p17"></p-radioButton>
                    <label for="p17-no">No</label>
                </div>
                <div class="col-12 animate__animated animate__fadeIn" *ngIf="formValidator(form, 'p17')">
                    <p class="error" *ngIf="fieldValidator(form, 'p17', 'required')">
                        Pregunta obligatoria
                    </p>
                </div>
                <div class="col-12">
                    <div class="enviar">
                        <button [loading]="loading" [disabled]="form.invalid || loading" pButton type="submit" label="Enviar respuestas" class="p-button-rounded"></button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>
<p-toast key="preguntas"></p-toast>