<div class="grid">
    <div class="col-12 sm:col-10 sm:col-offset-1">
        <p-steps styleClass="stepper" [model]="items" [readonly]="false"></p-steps>
    </div>
    <div class="col-12 sm:col-10 sm:col-offset-1">
        <router-outlet></router-outlet>
    </div>
</div>
<p-toast key="cv"></p-toast>