<div class="grid">
    <div class="col-12 sm:col-10 sm:col-offset-1">
        <p-card>
            <form class="grid" [formGroup]="form" (submit)="registrarse()">
                <div class="col-12">
                    <h3 class="m-0">Agregar usuario</h3>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="documento" class="block">Nro. Documento (<span>*</span>)</label>
                        <input formControlName="documento" id="documento" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'documento') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'documento')">
                            <p class="error" *ngIf="fieldValidator(form, 'documento', 'required')">
                                Documento requerido
                            </p>        
                            <p class="error" *ngIf="fieldValidator(form, 'documento', 'pattern')">
                                Documento debe ser numérico
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="nombres" class="block">Nombres (<span>*</span>)</label>
                        <input formControlName="nombres" id="nombres" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'nombres') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'nombres')">
                            <p class="error" *ngIf="fieldValidator(form, 'nombres', 'required')">
                                Nombres requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="apellidos" class="block">Apellidos (<span>*</span>)</label>
                        <input formControlName="apellidos" id="apellidos" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'apellidos') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'apellidos')">
                            <p class="error" *ngIf="fieldValidator(form, 'apellidos', 'required')">
                                Apellidos requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="email" class="block">Correo Electrónico (<span>*</span>)</label>
                        <input formControlName="email" id="email" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'email')">
                            <p class="error" *ngIf="fieldValidator(form, 'email', 'required')">
                                Email requerido
                            </p>        
                            <p class="error" *ngIf="fieldValidator(form, 'email', 'email')">
                                Email inválido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="pass" class="block">Contraseña (<span>*</span>)</label>
                        <input formControlName="clave" id="pass" type="password" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'clave') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'clave')">
                            <p class="error" *ngIf="fieldValidator(form, 'clave', 'required')">
                                Contraseña requerida
                            </p>        
                            <p class="error" *ngIf="fieldValidator(form, 'clave', 'minlength')">
                                La contraseña debe tener una longitud mínima de 8 caracteres
                            </p>        
                            <p class="error" *ngIf="fieldValidator(form, 'clave', 'passwordStrength')">
                                La contraseña debe contener mayúsculas, minúsculas y números
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="repetir-pass" class="block">Repetir contraseña (<span>*</span>)</label>
                        <input formControlName="repetirClave" id="repetir-pass" type="password" 
                        pInputText class="p-inputtext-sm {{formValidator(form, 'repetirClave') || (!clavesIguales() && form.valid) ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'repetirClave')">
                            <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'required')">
                                Repetir contraseña requerida
                            </p>
                            <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'minlength')">
                                La contraseña debe tener una longitud mínima de 8 caracteres
                            </p>        
                            <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'passwordStrength')">
                                La contraseña debe contener mayúsculas, minúsculas y números
                            </p>      
                        </div>
                        <div *ngIf="!clavesIguales() && form.valid">
                            <p class="error">
                                Las contraseñas no coinciden
                            </p>   
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                    <div class="field">
                        <label for="rol" class="block">Rol (<span>*</span>)</label>
                        <p-dropdown 
                        [options]="list" 
                        formControlName="rol" 
                        optionLabel="nombre" 
                        placeholder="Seleccionar..."
                        class="p-inputtext-sm {{formValidator(form, 'rol') ? 'ng-invalid ng-dirty':''}}"
                        >
                        </p-dropdown>
                        <div *ngIf="formValidator(form, 'rol')">
                            <p class="error" *ngIf="fieldValidator(form, 'rol', 'required')">
                                Rol requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-center">
                                <img class="captcha" #captcha alt="Captcha">
                            </div>
                        </div>
                        <div class="col-12 sm:col-6 md:col-4 sm:col-offset-3 md:col-offset-4">
                            <div class="field">
                                <input placeholder="Captcha..." formControlName="captcha" type="text" pInputText 
                                class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
                                <div *ngIf="formValidator(form, 'captcha')">
                                    <p class="error" *ngIf="fieldValidator(form, 'captcha', 'required')">
                                        Captcha requerida
                                    </p>        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex justify-content-end">
                        <button [disabled]="form.invalid || !clavesIguales() || loading" pButton pRipple type="submit" icon="pi pi-user" label="Agregar usuario" class="p-button-rounded" [loading]="loading"></button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>
<p-dialog [(visible)]="success" styleClass="modal" [modal]="true" (onHide)="onHideSuccess()">
    <ng-template pTemplate="header">
        Registro exitoso
    </ng-template>
    <div class="grid">
        <div class="col-12">
            <p class="m-0">Enviamos un enlace a la dirección de correo electrónico para activar la cuenta e ingresar al portal</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button [routerLink]="['/login']" (click)="success=false;" pButton pRipple type="button" label="Cerrar" class="p-button-text"></button>
    </ng-template>
</p-dialog>
<p-toast key="register-admin"></p-toast>