<div class="grid">
    <div class="col-12">
        <button (click)="elementAddShow = true;" class="p-button-rounded" pButton pRipple type="button" label="Agregar" icon="pi pi-plus"></button>
    </div>
    <div class="col-12">
        <p-table #tableCiudad styleClass="p-datatable-striped p-datatable-gridlines" [value]="list" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['nombre', 'departamento']">
        <ng-template pTemplate="caption">
            <div class="buscar">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="search" pInputText type="text" (input)="tableCiudad.filterGlobal(search, 'contains')" placeholder="Buscar..." />
                </span>
                <div class="button">
                    <button pButton label="Limpiar" class="p-button-outlined ml-2" icon="pi pi-filter-slash" (click)="clear(tableCiudad)"></button>
                </div>
            </div>
        </ng-template>    
        <ng-template pTemplate="header">
                <tr>
                    <th>Ciudad</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-element>
                <tr>
                    <td>{{element.nombre}}</td>
                    <td>{{element.departamento}}</td>
                    <td>
                        <button *ngIf="element.nombre != 'NUEVO'" (click)="setEdit(element)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text mr-2"></button>
                        <button *ngIf="element.nombre != 'NUEVO'" (click)="confirm($event, element)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="elementAddShow" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Agregar
    </ng-template>
    <form [formGroup]="formAdd" class="grid" (submit)="add()">
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="nombre" class="block">Nombre (<span>*</span>)</label>
                <input formControlName="nombre" id="nombre" type="text" pInputText 
                class="p-inputtext-sm {{formValidator(formAdd, 'nombre') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(formAdd, 'nombre')">
                    <p class="error" *ngIf="fieldValidator(formAdd, 'nombre', 'required')">
                        Nombre requerido
                    </p>             
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="departamento" class="block">Departamento (<span>*</span>)</label>
                <p-dropdown 
                id="departamento" 
                [filter]="true" 
                [options]="departamentos" 
                formControlName="departamento"
                placeholder="Seleccionar..." 
                [virtualScroll]="true"
                appendTo="body"
                class="p-inputtext-sm {{formValidator(formAdd, 'departamento') ? 'ng-invalid ng-dirty':''}}">
                </p-dropdown>
                <div *ngIf="formValidator(formAdd, 'departamento')">
                    <p class="error" *ngIf="fieldValidator(formAdd, 'departamento', 'required')">
                        Departamento requerido
                    </p>      
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="formAdd.invalid || elementAddLoading" (click)="add()" pButton pRipple type="button" icon="pi pi-check" label="Guardar" class="p-button-text"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="elementEditShow" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Editar
    </ng-template>
    <form [formGroup]="formEdit" class="grid" (submit)="edit()">
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="nombre" class="block">Nombre (<span>*</span>)</label>
                <input formControlName="nombre" id="nombre" type="text" pInputText 
                class="p-inputtext-sm {{formValidator(formEdit, 'nombre') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(formEdit, 'nombre')">
                    <p class="error" *ngIf="fieldValidator(formEdit, 'nombre', 'required')">
                        Nombre requerido
                    </p>             
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="departamento" class="block">Departamento (<span>*</span>)</label>
                <p-dropdown 
                id="departamento" 
                [filter]="true" 
                [options]="departamentos" 
                formControlName="departamento"
                placeholder="Seleccionar..." 
                [virtualScroll]="true"
                appendTo="body"
                class="p-inputtext-sm {{formValidator(formAdd, 'departamento') ? 'ng-invalid ng-dirty':''}}">
                </p-dropdown>
                <div *ngIf="formValidator(formAdd, 'departamento')">
                    <p class="error" *ngIf="fieldValidator(formAdd, 'departamento', 'required')">
                        Departamento requerido
                    </p>      
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="formEdit.invalid || elementEditLoading" (click)="edit()" pButton pRipple type="button" icon="pi pi-check" label="Guardar" class="p-button-text"></button>
    </ng-template>
</p-dialog>
