@import "../../../../assets/scss/breakpoints.scss";

.botones-mobile {
    @media screen and (min-width: $md){
        display: none;
    }
}

.botones {
    display: none;
    @media screen and (min-width: $md){
        display: flex;
    }
}