<div class="grid">
    <div class="col-12">
        <p-card styleClass="card-cv">
            <form class="grid" [formGroup]="form" (submit)="guardar()">
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="documento" class="block">Nro. Documento (<span>*</span>)</label>
                        <input formControlName="documento" id="documento" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'documento') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'documento')">
                            <p class="error" *ngIf="fieldValidator(form, 'documento', 'required')">
                                Documento requerido
                            </p>        
                            <p class="error" *ngIf="fieldValidator(form, 'documento', 'pattern')">
                                Documento debe ser numérico
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="nombres" class="block">Nombres (<span>*</span>)</label>
                        <input formControlName="nombres" id="nombres" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'nombres') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'nombres')">
                            <p class="error" *ngIf="fieldValidator(form, 'nombres', 'required')">
                                Nombres requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="apellidos" class="block">Apellidos (<span>*</span>)</label>
                        <input formControlName="apellidos" id="apellidos" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'apellidos') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'apellidos')">
                            <p class="error" *ngIf="fieldValidator(form, 'apellidos', 'required')">
                                Apellidos requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="fechaNacimiento" class="block">Fecha Nac. (<span>*</span>)</label>
                        <input formControlName="fechaNacimiento" id="fechaNacimiento" type="date" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'fechaNacimiento') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'fechaNacimiento')">
                            <p class="error" *ngIf="fieldValidator(form, 'fechaNacimiento', 'required')">
                                Fecha de nacimiento requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="sexo" class="block">Sexo (<span>*</span>)</label>
                        <p-dropdown [options]="optionSexo" formControlName="sexo" optionLabel="nombre" optionValue="valor" placeholder="Seleccionar..."
                        class="p-inputtext-sm {{formValidator(form, 'sexo') ? 'ng-invalid ng-dirty':''}}">
                        </p-dropdown>
                        <div *ngIf="formValidator(form, 'sexo')">
                            <p class="error" *ngIf="fieldValidator(form, 'sexo', 'required')">
                                Sexo requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="estadoCivil" class="block">Estado Civil (<span>*</span>)</label>
                        <p-dropdown [options]="optionEstadoCivil" formControlName="estadoCivil" optionLabel="nombre" optionValue="valor" placeholder="Seleccionar..."
                        class="p-inputtext-sm {{formValidator(form, 'estadoCivil') ? 'ng-invalid ng-dirty':''}}">
                        </p-dropdown>
                        <div *ngIf="formValidator(form, 'estadoCivil')">
                            <p class="error" *ngIf="fieldValidator(form, 'estadoCivil', 'required')">
                                Estado civil requerido
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="celular" class="block">Nro. celular (<span>*</span>)</label>
                        <input formControlName="celular" id="celular" type="number" pInputText placeholder="Ej. 595981321321"
                        class="p-inputtext-sm {{formValidator(form, 'celular') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'celular')">
                            <p class="error" *ngIf="fieldValidator(form, 'celular', 'required')">
                                Nro. celular requerido
                            </p>  
                            <p class="error" *ngIf="fieldValidator(form, 'celular', 'pattern')">
                                El formato debe ser 5959XXXXXXXX. Ej.: 595981321321
                            </p>      
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="CiudadId" class="block">Ciudad (<span>*</span>)</label>
                        <input formControlName="CiudadId" id="CiudadId" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'CiudadId') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'CiudadId')">
                            <p class="error" *ngIf="fieldValidator(form, 'CiudadId', 'required')">
                                Ciudad requerida
                            </p>      
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6">
                    <div class="field">
                        <label for="direccion" class="block">Dirección (<span>*</span>)</label>
                        <input formControlName="direccion" id="direccion" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'direccion') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'direccion')">
                            <p class="error" *ngIf="fieldValidator(form, 'direccion', 'required')">
                                Dirección requerida
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="field">
                        <label for="indigena" class="block">Comunidad indígena</label>
                        <input formControlName="indigena" id="indigena" type="text" pInputText 
                        class="p-inputtext-sm"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="grid botones">
                        <div class="col-12">
                            <div class="flex justify-content-center">
                                <button [disabled]="form.invalid || loading" pButton pRipple type="submit" label="Guardar mis datos" class="p-button-rounded mr-2" [loading]="loading"></button>
                                <button [routerLink]="['archivos']" pButton pRipple type="button" label="Archivos" class="p-button-rounded p-button-secondary" icon="pi pi-arrow-right" iconPos="right"></button>
                            </div>
                        </div>
                    </div>
                    <div class="grid botones-mobile">
                        <div class="col-12">
                            <button [disabled]="form.invalid || loading" pButton pRipple type="submit" label="Guardar mis datos" class="p-button-rounded w-full" [loading]="loading"></button>
                        </div>
                        <div class="col-12">
                            <button [routerLink]="['archivos']" pButton pRipple type="button" label="Archivos" class="p-button-rounded p-button-secondary w-full" icon="pi pi-arrow-right" iconPos="right"></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-4 mt-4">
                    <label for="codigo">Código postulación</label>
                    <div class="p-inputgroup mt-1">
                        <input [style]="{'opacity':'0.75'}" id="codigo" type="text" pInputText [value]="codigo" readonly>   
                        <button (click)="copiar()" type="button" pButton pRipple icon="pi pi-copy" styleClass="p-button-warn"></button>      
                    </div>
                </div>
                <div class="col-12">
                    <p class="primary-color m-0">Para consultas y/o reclamos, enviar un correo a <span (click)="mailTo()" [style]="{'cursor':'pointer'}" class="underline">mag.censo@gmail.com</span></p>
                </div>
            </form>
        </p-card>
    </div>
</div>