@import "../../../assets/scss/breakpoints.scss";

.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 64px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1003;

    button {
        color: var(--surface-ground) !important;
    }

    .left-items {

        display: flex;
        align-items: center;

        button {
            margin-right: 0.5rem;
            @media screen and (min-width: $md){
                margin-right: 1rem;
            }
        }
        .empresa {
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
            color: var(--surface-ground);
            cursor: pointer;
            
        }
    }

    .right-items {
        display: none;
        @media screen and (min-width: $md){
            display: block;
        }
    }
    
    .right-items-mobile {
        display: block;
        @media screen and (min-width: $md){
            display: none;
        }
    }
    
    .center-items {
        display: flex;
        align-items: center;
        .mag {
            width: 120px;
            height: auto;
        }
    }

}

.sidebar-header {
    .hola {
        margin: 0;
        font-size: 1rem;
        color: var(--surface-ground);
    }
    
    .nombre {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
        color: var(--surface-ground);
    }

}

.sidebar-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    
    .title {
        color: var(--surface-ground);
        font-size: 1rem;
        margin: 0;
    }

    &:hover {
        background-color: var(--primary-color-hover);
    }

    &:hover .title {
        color: var(--surface-ground);
    }
}