<div class="navbar shadow-2">
    <div class="left-items">
        <button (click)="displaySidebar = true;" pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"></button>
        <div [routerLink]="['']" class="empresa">MAG Censo</div>
    </div>
    <div class="right-items">
        <button *ngIf="foto == null; else fotoBlock;" (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-user" label="{{nombre}}" class="p-button-text"></button>
        <ng-template #fotoBlock>
            <div class="flex align-items-center" (click)="menu.toggle($event)" [style]="{'cursor':'pointer'}">
                <p-avatar styleClass="shadow-2 mr-2" (click)="menu.toggle($event)" [image]="fileUrl + '/' + foto?.file + '?key=' + token" shape="circle"></p-avatar>
                <p class="m-0 text-0">{{nombre}}</p>
            </div>
        </ng-template>
    </div>
    <div class="right-items-mobile">
        <button *ngIf="foto == null; else fotoBlockMobile;" (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text"></button>
        <ng-template #fotoBlockMobile>
            <p-avatar styleClass="shadow-2" (click)="menu.toggle($event)" [image]="fileUrl + '/' + foto?.file + '?key=' + token" shape="circle"></p-avatar>
        </ng-template>
    </div>
</div>
<p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
<p-sidebar styleClass="sidebar" [(visible)]="displaySidebar" [modal]="true">
    <div class="grid sidebar-header">
        <div class="col-12">
            <p class="hola">Hola,</p>
            <h4 class="nombre">{{nombre}}</h4>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 p-0" *ngFor="let i of sidebarItems">
            <div class="sidebar-item" *ngxPermissionsOnly="i.perm" [routerLink]="i.routerLink ? [i.routerLink]:[]" (click)="i.command && i.command()">
                <p-avatar icon="{{i.icon}}" styleClass="mr-2" [style]="{'background-color':'var(--primary-color)', 'color': '#ffffff'}" shape="circle"></p-avatar>
                <p class="title">
                    {{i.nombre}}
                </p>
            </div>
        </div>
    </div>
</p-sidebar>