/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/breakpoints.scss";
body {
    margin: 0;
    background-color: var(--surface-ground);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 400;
}

.primary-color {
    color: var(--primary-color);
}

.grid {
    margin: 0 !important;
}

.p-input-icon-left, .p-float-label, input {
    width: 100%;
}

.field {
    margin: 0 0 0.5rem 0 !important;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.error {
    font-size: 0.75rem;
    color: var(--red-500);
    margin: 0.5rem 0;
}

label span {
    color: var(--red-500);
}

.text-success {
    color: var(--green-500);
}

.text-danger {
    color: var(--red-500);
}

.modal, .card {
    width: 100%;
    @media screen and (min-width: $sm){
      width: 70vw;
    }
    @media screen and (min-width: $md){
      width: 60vw;
    }
    @media screen and (min-width: $lg){
      width: 40vw;
    }
    @media screen and (min-width: $xl){
      width: 30vw;
    }

    .p-dialog-header {
        font-size: 1rem;
        color: var(--primary-color) !important;
        font-weight: bold;
    }
}

.sidebar {
    background-color: var(--primary-color) !important;

    .p-sidebar-close {
        color: var(--surface-ground) !important; 

        &:hover {
            background-color: var(--primary-color-hover) !important;
        }
    }

    .sidebar-item:hover .p-avatar {
        background-color: var(--primary-color-hover) !important;
    }
}

.stepper {
    .p-menuitem-link {
        background-color: var(--surface-ground) !important;
    }

    .p-steps-title {
        color: var(--primary-color) !important;
    }
}

.card-cv {
    width: 100%;
}

.p-dropdown, .p-multiselect {
    width: 100%;
}

.p-chips, .p-chips-multiple-container {
    width: 100%;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    margin-bottom: 0.5rem;
}

.p-fileupload-buttonbar {

    .p-button {
        margin: 0.5rem 0.25rem !important;
    }
}

.p-fileupload-content {
    span.p-message-icon {
        display: none !important;
    }
}

.msg-info {
    .p-message.p-message-info {
        color: var(--primary-color) !important;
        border: solid var(--primary-color) !important;
        border-width: 0 0 0 6px !important;
        background-color: #fff;
    }
    .p-message.p-message-info .p-message-icon {
        color: var(--primary-color) !important;
    }
}

.scroll-top {
    background-color: var(--bluegray-500) !important;
    &:hover {
        background-color: var(--bluegray-500) !important;
    }
    &:focus {
        box-shadow: none !important;
    }
}

.titulos {
    font-size: 1.25rem;
}

.mag-card {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.cargo-card {

    width: 100%;

    .p-card-content {
        padding: 0;
    }

    .p-card-body {
        padding: 1rem;

    }

    .header {
        min-height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .body {
        height: 300px;
        overflow-y: auto;
    }

    .footer {
        padding: 0.5rem 0;
        display: flex;
        justify-content: flex-end;
    }

    .cargo {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0.25rem;
    }
}

ul {
    padding-inline-start: 1.5rem;
}

.tag-archivo {
    display: none !important;
    @media screen and (min-width: $sm){
      display: initial !important;
    }
}

.p-toast {
    max-width: 70vw !important;
}