<div class="register-container">
    <div class="grid">
        <div class="col-12">
            <p-card styleClass="card animate__animated animate__fadeInDown">
                <form class="grid" [formGroup]="form" (submit)="registrarse()">
                    <div class="col-12">
                        <div class="flex justify-content-center">
                            <img src="assets/img/mag-black.png" alt="MAG" class="mag-card">
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <p class="font-bold text-center titulos">Registrarse</p>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="field">
                            <label for="documento" class="block">Nro. Documento</label>
                            <input formControlName="documento" id="documento" type="text" pInputText 
                            class="p-inputtext-sm {{formValidator(form, 'documento') ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'documento')">
                                <p class="error" *ngIf="fieldValidator(form, 'documento', 'required')">
                                    Documento requerido
                                </p>        
                                <p class="error" *ngIf="fieldValidator(form, 'documento', 'pattern')">
                                    Documento debe ser numérico
                                </p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="field">
                            <label for="nombres" class="block">Nombres</label>
                            <input formControlName="nombres" id="nombres" type="text" pInputText 
                            class="p-inputtext-sm {{formValidator(form, 'nombres') ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'nombres')">
                                <p class="error" *ngIf="fieldValidator(form, 'nombres', 'required')">
                                    Nombres requerido
                                </p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="field">
                            <label for="apellidos" class="block">Apellidos</label>
                            <input formControlName="apellidos" id="apellidos" type="text" pInputText 
                            class="p-inputtext-sm {{formValidator(form, 'apellidos') ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'apellidos')">
                                <p class="error" *ngIf="fieldValidator(form, 'apellidos', 'required')">
                                    Apellidos requerido
                                </p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="field">
                            <label for="email" class="block">Correo Electrónico</label>
                            <input formControlName="email" id="email" type="text" pInputText 
                            class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'email')">
                                <p class="error" *ngIf="fieldValidator(form, 'email', 'required')">
                                    Email requerido
                                </p>        
                                <p class="error" *ngIf="fieldValidator(form, 'email', 'email')">
                                    Email inválido
                                </p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="field">
                            <label for="pass" class="block">Contraseña</label>
                            <input formControlName="clave" id="pass" type="password" pInputText 
                            class="p-inputtext-sm {{formValidator(form, 'clave') ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'clave')">
                                <p class="error" *ngIf="fieldValidator(form, 'clave', 'required')">
                                    Contraseña requerida
                                </p>        
                                <p class="error" *ngIf="fieldValidator(form, 'clave', 'minlength')">
                                    La contraseña debe tener una longitud mínima de 8 caracteres
                                </p>        
                                <p class="error" *ngIf="fieldValidator(form, 'clave', 'passwordStrength')">
                                    La contraseña debe contener mayúsculas, minúsculas y números
                                </p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="field">
                            <label for="repetir-pass" class="block">Repetir contraseña</label>
                            <input formControlName="repetirClave" id="repetir-pass" type="password" 
                            pInputText class="p-inputtext-sm {{formValidator(form, 'repetirClave') || (!clavesIguales() && form.valid) ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'repetirClave')">
                                <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'required')">
                                    Repetir contraseña requerida
                                </p>
                                <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'minlength')">
                                    La contraseña debe tener una longitud mínima de 8 caracteres
                                </p>        
                                <p class="error" *ngIf="fieldValidator(form, 'repetirClave', 'passwordStrength')">
                                    La contraseña debe contener mayúsculas, minúsculas y números
                                </p>      
                            </div>
                            <div *ngIf="!clavesIguales() && form.valid">
                                <p class="error">
                                    Las contraseñas no coinciden
                                </p>   
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="flex justify-content-center">
                            <img class="captcha" #captcha alt="Captcha">
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1 lg:col-6 lg:col-offset-3">
                        <div class="field">
                            <input placeholder="Captcha..." formControlName="captcha" type="text" pInputText 
                            class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
                            <div *ngIf="formValidator(form, 'captcha')">
                                <p class="error" *ngIf="fieldValidator(form, 'captcha', 'required')">
                                    Captcha requerida
                                </p>        
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <button [loading]="loading" [disabled]="form.invalid || !clavesIguales() || loading" pButton pRipple type="submit" label="Registrarse" class="p-button-rounded w-full register" [loading]="loading"></button>
                    </div>
                    <div class="col-12 sm:col-10 sm:col-offset-1">
                        <div class="flex align-items-center justify-content-center">
                            <p class="con-cuenta">¿Ya tienes una cuenta?</p>
                            <a routerLink="/login" class="ingresar underline">Ingresar</a>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>

<p-dialog [(visible)]="success" styleClass="modal" [modal]="true" (onHide)="onHideSuccess()">
    <ng-template pTemplate="header">
        Registro exitoso
    </ng-template>
    <div class="grid">
        <div class="col-12">
            <p class="m-0">Te enviamos un enlace a tu dirección de correo electrónico para activar tu cuenta e ingresar al portal</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button [routerLink]="['/login']" (click)="success=false;" pButton pRipple type="button" label="Cerrar" class="p-button-text"></button>
    </ng-template>
</p-dialog>
<p-toast key="register"></p-toast>